.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.blog-section .blog-card {
  background: rgba(255, 153, 0, 0);
  padding: 1.5rem 1rem 3rem 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 3px solid #e67c00;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 220px;
  box-shadow: 0 4px 18px 0 rgb(255, 153, 0), 0 1.5px 6px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.2s;
  position: relative;
}


.blog-title {
  color:rgb(255, 153, 0)
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3em;
  max-height: 3em;
}
.blog-title a {
  color: #ff7b00;
  text-decoration: none;
  font-weight:bold
}
.blog-title a:hover {

  
  font-weight :bolder;
}

.blog-date {
  color: #fff;
  font-size: 0.95em;
  font-weight: bold;
  margin-bottom: 1em;
}

.blog-excerpt {
  color: #bababa;
  margin-bottom: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
}

.blog-readmore {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  color: #cc8500;
  text-decoration: none;
  font-weight: 500;

}
.blog-readmore:hover {

  text-decoration: underline;
  font-weight:bold
}
